
Day1/.vs/Day1/DesignTimeBuild/.dtbcache.v2
Day1/.vs/Day1/FileContentIndex/3ab93a47-ed74-4859-b458-55f78a0c0c8e.vsidx
Day1/.vs/Day1/FileContentIndex/5a32c569-93ee-4eb6-b827-cfc2ebd87d4e.vsidx
Day1/.vs/Day1/FileContentIndex/7be29df4-3357-41b9-8d74-fa6fc56f0b40.vsidx
Day1/.vs/Day1/FileContentIndex/c0dd9df3-4fb5-4bbc-b07c-df56800be141.vsidx
Day1/.vs/Day1/FileContentIndex/c5634ee6-efb8-45fe-9c20-d7c787030b2d.vsidx
Day1/.vs/Day1/v17/.suo
Day1/.vs/Day1/v17/DocumentLayout.backup.json
Day1/.vs/Day1/v17/DocumentLayout.json
Day1/Day1.sln
Day1/Day1/Day1.csproj
Day1/Day1/bin/Debug/net8.0/Day1.runtimeconfig.json
Day1/Day1/bin/Debug/net8.0/Day1.pdb
Day1/Day1/bin/Debug/net8.0/Day1.exe
Day1/Day1/bin/Debug/net8.0/Day1.dll
Day1/Day1/bin/Debug/net8.0/Day1.deps.json
Day1/Day1/obj/project.nuget.cache
Day1/Day1/obj/project.assets.json
Day1/Day1/obj/Debug/net8.0/refint/Day1.dll
Day1/Day1/obj/Debug/net8.0/ref/Day1.dll
Day1/Day1/obj/Debug/net8.0/Day1.pdb
Day1/Day1/obj/Debug/net8.0/Day1.GlobalUsings.g.cs
Day1/Day1/obj/Debug/net8.0/Day1.genruntimeconfig.cache
Day1/Day1/obj/Debug/net8.0/Day1.GeneratedMSBuildEditorConfig.editorconfig
Day1/Day1/obj/Debug/net8.0/Day1.dll
Day1/Day1/obj/Debug/net8.0/Day1.csproj.FileListAbsolute.txt
Day1/Day1/obj/Debug/net8.0/Day1.csproj.CoreCompileInputs.cache
Day1/Day1/obj/Debug/net8.0/Day1.csproj.BuildWithSkipAnalyzers
Day1/Day1/obj/Debug/net8.0/Day1.assets.cache
Day1/Day1/obj/Debug/net8.0/Day1.AssemblyInfoInputs.cache
Day1/Day1/obj/Debug/net8.0/Day1.AssemblyInfo.cs
Day1/Day1/obj/Debug/net8.0/apphost.exe
Day1/Day1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Day1/Day1/obj/Day1.csproj.nuget.g.targets
Day1/Day1/obj/Day1.csproj.nuget.g.props
Day1/Day1/obj/Day1.csproj.nuget.dgspec.json
Day1/.vs/Day1/v17/.futdcache.v2
Day1/.vs/ProjectEvaluation/day1.metadata.v9.bin
Day1/.vs/ProjectEvaluation/day1.projects.v9.bin
Day1/.vs/ProjectEvaluation/day1.strings.v9.bin
/Day1/Day1/files/input.txt
Day1/.vs/Day1/FileContentIndex/f9174fff-4b25-4576-978d-356e5c3a0fd1.vsidx
Day1/.vs/Day1/FileContentIndex/d7e2b913-f1cc-4cf3-b007-5b954e6ae946.vsidx
Day1/.vs/Day1/FileContentIndex/7a3db644-0dba-4625-85fb-4377d1e915c3.vsidx
Day1/.vs/Day1/FileContentIndex/284fe29d-e729-4219-90a6-22e10def0afb.vsidx
Day1/.vs/AOC/v17/DocumentLayout.json
Day1/.vs/AOC/v17/DocumentLayout.backup.json
Day1/.vs/AOC/v17/.suo
Day1/.vs/AOC/FileContentIndex/43a28413-9b26-45af-8897-dec7c6b23c12.vsidx
Day1/.vs/AOC/DesignTimeBuild/.dtbcache.v2
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/AdventOfCode-2024/v17/DocumentLayout.json
.vs/AdventOfCode-2024/v17/.wsuo
.vs/AdventOfCode-2024/FileContentIndex/839b6356-e90c-48bd-bf8c-cc2fd673dc91.vsidx
